DEBUG=True
SECRET_KEY=MY_SECRET_KEY

ADMIN_USERNAME=admin
ADMIN_EMAIL=adm@adm.com
ADMIN_PASSWORD=admin

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_HOST=db
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345