DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_HOST=db
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345

SECRET_KEY=MY_SECRET_KEY
TEST_USERS_PASSWORD=111
DEBUG=True
ADMIN_USERNAME=adm
ADMIN_EMAIL=adm@adm.com
ADMIN_PASSWORD=adm